@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
  animation: popUp .4s
}

@keyframes popUp {
  from {
    opacity: 0;
    top: 70px;
  }

  to {
    opacity: 1;
    top: -48px;
  }
}

.accordionOpen {
  animation: accordionopen 2s;
}

.accordionClose {
  animation: accordionclose .5s;
}

#dBoardSideber .active {
  background: #978EF4;
  color: #FFF;
  text-decoration: none;
}


#NotificationPopUp::-webkit-scrollbar {
  display: none;
}

#NotificationPopUp {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#NotificationPopUp .notification:hover .removeNotification {
  display: block;
}

/* animations  */
/* accordionOpen animations */

@keyframes accordionopen {
  from {
    max-height: 0px;
  }

  to {
    max-height: 720px;
  }
}


/* accordionClose animations */
@keyframes accordionclose {
  from {
    max-height: 720px;
  }

  to {
    max-height: 0px;
  }
}

@keyframes SideberOpen {
  from {
    left: -600px;
  }

  to {
    left: 0;
  }
}

@keyframes SideberClose {
  from {
    left: 0;
    display: block;
  }

  to {
    left: -600px;
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .SideberOpen {
    animation: SideberOpen .5s;
  }

  .SideberClose {
    animation: SideberClose 1s;
  }
}