@tailwind base;
@tailwind components;
@tailwind utilities;

.HideTextAnimation {
  animation: HideTextAnimation 1s;
}

.NavberwidhtAnimationOpen {
  animation: NavberwidhtAnimationOpen 1s;
}


.accordionOpen {
  animation: accordionopen 2s;
}

.accordionClose {
  animation: accordionclose .8s;
}

#dBoardSideber .active {
  background: #978EF4;
  color: #FFF;
  text-decoration: none;
}

#sideberScrollber::-webkit-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: 1px;
  position: absolute;
  right: 10px; 
}

#sideberScrollber::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65, 0.2); 
}

#sideberScrollber::-webkit-scrollbar {
  width: 1px;
}

#NotificationPopUp::-webkit-scrollbar {
  display: none;
}

#NotificationPopUp {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#NotificationPopUp .notification:hover .removeNotification {
  display: block;
}

#contentScrollber::-webkit-scrollbar {
  display: none;
}

#contentScrollber {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* animations  */
/* accordionOpen animations */

@keyframes accordionopen {
  from {
    max-height: 0px;
  }

  to {
    max-height: 720px;
  }
}

/* animations  */
/* accordionClose animations */
@keyframes accordionclose {
  from {
    max-height: 720px;
  }

  to {
    max-height: 0px;
  }
}

/* sidebre animations  */
@keyframes SideberOpen {
  from {
    left: -600px;
  }

  to {
    left: 0;
  }
}

@keyframes SideberClose {
  from {
    left: 0;
    display: block;
  }

  to {
    left: -600px;
    display: none;
  }
}

/* navber animation  */
@keyframes NavberwidhtAnimationOpen {
  from {
    margin-left: 22%;
  }

  to {
    margin-left: 60px;
  }
}

@keyframes NavberwidhtAnimationClose {
  from {
    margin-left: -22%;
  }

  to {
    margin-left: 1px;
  }
}

@keyframes HideTextAnimation {
  from {
    width: 22%;
  }

  to {
    width: 60px;
  }
}

@media screen and (min-width:1024px) {
  .NavberwidhtAnimationClose {
    animation: NavberwidhtAnimationClose .5s;
  }
}

@media screen and (max-width: 1024px) {
  .SideberOpen {
    animation: SideberOpen .5s;
  }

  .SideberClose {
    animation: SideberClose 1s;
  }
}