@tailwind base;
@tailwind components;
@tailwind utilities;
/* Example CSS to customize React Quill toolbar */

:root{
  --primary-color:#000;
  --scoundery-color:rgb(93, 89, 108);
  --primary-bg:#FFF
}

@layer utilities {
  .themeChanger {
    @apply bg-[var(--primary-bg)];
  }
  .themeChanger h4 {
    @apply text-[var(--scoundery-color)]
  }
  .themeChanger .button {
    @apply text-[#8E85F3] bg-[#EAE8FD] p-2 py-1 rounded-sm my-3 dark:bg-[#3A3B64]
  }
  .themeChanger h5 {
    @apply text-[var(--scoundery-color)]
  }
  
}
.semiDark{
  background: #2F3349;
}
.HideTextAnimation {
  animation: HideTextAnimation 1s;
}

.NavberwidhtAnimationOpen {
  animation: NavberwidhtAnimationOpen 1s;
}



.accordionOpen {
  animation: accordionopen 2s;
}

.accordionClose {
  animation: accordionclose .8s;
}
#dBoardSideber .active {
  /* background: #7367F0;  */
  background: -webkit-linear-gradient(left, #4b3bfa, #aaa3f6); 
  background: -o-linear-gradient(right, #4b3bfa, #aaa3f6); 
  background: -moz-linear-gradient(right, #4b3bfa, #aaa3f6);
  background: linear-gradient(to right, #4b3bfa, #aaa3f6);
  color: #FFF;
  text-decoration: none;
}
#dBoardSideber .activeLink {
  background: rgb(229 231 235);
  border-radius: 4px;
  color: black;
  text-decoration: none;
}

/* #dBoardSideber::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65, 0.2); 
} */

#dBoardSideber::-webkit-scrollbar {
  width: 2px;
}
#dBoardSideber::-webkit-scrollbar-track {
  display: none;
}
#dBoardSideber::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0,0.0);
}
#dBoardSideber:hover::-webkit-scrollbar-thumb {
  background: #28C76F;
}

#NotificationPopUp::-webkit-scrollbar {
  display: none;
}

#NotificationPopUp {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#themeChanger {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#NotificationPopUp .notification:hover .removeNotification {
  display: block;
}

#contentScrollber::-webkit-scrollbar {
  display: none;
}

#contentScrollber {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* sideber transition  */
.transitionAnimationopen{
  transition: .5s;
}
.transitionAnimationclose{
  transition: .1s;
}
/* text editor css  */
.darkThemeActivate .ql-toolbar {
  background-color: #6B7280; 
  border: none; 
}
.darkThemeActivate .ql-toolbar{
  border: none !important;
  border-radius: 4px 4px 0 0 ;
}
.darkThemeActivate .ql-container {
  border-radius: 4px;
  border: none !important;
}
.ql-container{
  min-height: 200px;
  
}

.darkThemeActivate .ql-toolbar .ql-picker-label {
  color: #333; 
}
/* role table scrober  */
#roletable::-webkit-scrollbar {
  display: none;
}
.ThemeChangerOpen{
animation: ThemeChangerOpen .5s;
}
.ThemeChangerClose{
  animation: ThemeChangerClose .5s;
}
.ThemeChangerTogglerClose{
animation: ThemeChangerTogglerClose 1s;
}
.ThemeChangerTogglerOpen{
  animation: ThemeChangerTogglerOpen .5s;
}
/* animations  */
/* accordionOpen animations */
@keyframes ThemeChangerTogglerOpen {
  from {
    right: -50px;
  }

  to {
    right: 12px;
  }
}
@keyframes ThemeChangerTogglerClose {
  from {
    right: 12px;
  }

  to {
    right: -50px;
  }
}
@keyframes ThemeChangerOpen {
  from {
    right: -700px;
  }

  to {
    right: 0px;
  }
}
@keyframes ThemeChangerClose {
  from {
    right: 0px;
  }

  to {
    right: -400px;
  }
}
@keyframes accordionopen {
  from {
    max-height: 0px;
  }

  to {
    max-height: 720px;
  }
}

/* animations  */
/* accordionClose animations */
@keyframes accordionclose {
  from {
    max-height: 720px;
  }

  to {
    max-height: 0px;
  }
}

/* sidebre animations  */
@keyframes SideberOpen {
  from {
    left: -600px;
  }

  to {
    left: 0;
  }
}

@keyframes SideberClose {
  from {
    display: block;
    left: 0;
  }

  to {
    left: -600px;
    display: none;
  }
}

/* navber animation  */
@keyframes NavberwidhtAnimationOpen {
  from {
    margin-left: 260px;
  }

  to {
    margin-left: 80px;
  }
}

@keyframes NavberwidhtAnimationClose {
  from {
    margin-left: -260px;
  }

  to {
    margin-left: 1px;
  }
}

@keyframes HideTextAnimation {
  from {
    width: 260px;
  }

  to {
    width: 60px;
  }
}

@media screen and (min-width:1024px) {
  .NavberwidhtAnimationClose {
    animation: NavberwidhtAnimationClose .5s;
  }
}

@media screen and (max-width: 1023px) {
  .SideberOpen {
    animation: SideberOpen .5s;
  }

  .SideberClose {
    animation: SideberClose 1s;
  }
}